/*section **********************************/
section
{
  display: inline-block;
  margin-left: 300px;
  margin-right: 300px;
  border: 2px #b5b5b5 outset;
  border-radius: 25px;
  box-shadow: 5px 5px 10px grey;
}

#text_size
{
  margin-left: -175px;
  font-size: 25px;
}

.img_men
{
  display: block;
  padding-left: 700px;
  margin-top: 100
}

.img_women
{
  display: block;
  padding-left: 470px;
  margin-top: -132
}

 /* BANNIERE BLEU *****************************/
.bg_img{
  background-image: url("../images/bg-bloc-title.png");
  background-repeat: no-repeat;
  text-align: right;
  width:13%;
  color:white;
  display: inline-block;
}

.vha{
  display: inline-block;
}

#banniere_bleue
{
  background-color: #12449b;
}
