/*header*/
body{
  width:100%;
  background-image:url(../images/header.jpg);
  background-repeat:no-repeat;
  background-size: 100%
}
header{
  background-color: #b7c9c3;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#mobile1{
  margin-top: 100px;
  margin-left: 750px
}
#txtmobile1{
  margin-right: 110px;
  margin-top: -20px;
  color: #e65c01
}
#mobile2{
  padding-left: 750px
}
#txtmobile2{
  margin-top: -20px;
  margin-right: 110px;
  color: #e65c01
}
#mail{
  margin-top: -50px;
  padding-left: 750px
}
#txtmail{
  margin-top: 50px;
  margin-right: 110px;
  margin-top: -15px;
  color: #e65c01
}
#nav{
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0
}
#nav li{
  display: inline;
  list-style: none;
  margin: 0 10px
}
#nav a{
  text-decoration: none;
}
.accueilo{
  color: #e65c01
}
.accueilb{
  color: #12449b
}
/* ACTU ************************************/
.actu{
  display: inline-block;
  border: 2px #b5b5b5 outset;
  border-radius: 25px;
  box-shadow: 5px 5px 10px grey;
  margin-bottom: 20px;
  padding:10px;
}
.titre{
  color:#12449b
}

p .img_actu{
  display: block;
  clear: both;
}
.img_actu{
  text-align: left;
  display: block;
  float: left;
  width: 20%;

}

p{
  text-align: right;;
  display: block;
  float: right;;
  width: 80%;
}
a{
  text-decoration: none;
}
.bouton_partager{
  background-color: #12449b;
  color: white;
  border-radius:5px;
  text-align: center;
  width:70px;
  padding:5px;
}
/* HEADER *********************************/

/* FOOTER *********************************/
body{
  height:100%;
}

footer {
  background-color: #e65c01;
  font-family: fantasy;
  font-size:8px;
  height:70px;
  width: 100%;
  min-width: 360px;
  max-height: 100px;
  display: inline-block;
}

footer ul{
  margin:0px;
}

footer ul li{
  list-style: none;
  float: left;
  text-align: center;
  line-height: 10px;
  margin:1em;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer img{
  display: block;
  float: left;
  margin: 5px 0px;
}

/*section **********************************/
section
{
 border: 2px solid black;
 border-radius: 10px;
 display: inline-block;
 background-image: url(../images/bg-title.png);
 background-repeat: no-repeat;
}
