/* FOOTER *********************************/
body{
  height:100%;
}
footer {
  background-color: #e65c01;
  font-family: fantasy;
  font-size:17px;
  height:60px;
  width: 100%;
  min-width: 360px;
  max-height: 100px;
  display: inline-block;

}

footer ul{
  margin:0px;
}

footer ul li{
  list-style: none;
  float: left;
  text-align: center;
  line-height: 10px;
  margin:1em;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer img{
  display: block;
  float: left;
  margin: 5px 0px;
}

.img{
  margin: 0px 30px;
}
